.custom-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .custom-input {
        padding: 10px;
        border-radius: 10px;
    }

    .error-container {
        color: #ff6666;
    }
}