.navbar-container {
    position: fixed;
    height: 80px;
    top: 0px;
    left: 0px;
    width: 100%;
    .navbar-general-section {
        height: 29px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar-navigation-container {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;

        .left-align, .right-align {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .left-align {
            justify-content: flex-start;
        }
        .right-align {
            justify-content: flex-end;
        }

        .application-icon {
            height: 50px;
            width: 50px;
        }

        .application-text {
            height: 50px;
        }
    }
}