.image-animation-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    .inner-image-animation-container {
        width: 200%;
        height: 100%;

        img {
            width: 50%;
            height: 100%;
        }
    }

    .inner-image-animation-container.animating {
        animation: goRigth 10s linear forwards;
    }

    @keyframes goRigth {
        0% {
            transform: translateX(0%);
        }
        20% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}